.card {
    background-color: var(--bg);
    border-radius: 12px;
    overflow: hidden;

    .symbol {
        color: rgba(255,255,255,0.6);
    }

    &-header {
        margin-bottom: 12px;
    }

    &-body {
        padding: 12px;
    }

    h3 {
        font-size: 2rem;
        line-height: 100%;
    }

    h3 span {
        margin-left: 4px;
        font-size: 0.8rem;
        color: rgba(255,255,255,0.6);
    }

    .up {
        color: green;
    }

    .down {
        color: red;

        svg {
            transform: rotate(270deg);
        }
    }

    .variation {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        text-overflow: ellipsis;
        overflow: hidden;

        svg {
            height: 18px;
        }
    }
}